<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/slick/slick-theme.css"/>
    <link rel="stylesheet" href="../static/assets/css/general.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <script defer src="js/script.js"></script>
    <title>Quan li toa nha</title>
  </head>
  <body>
    <header class="header">
      <img src="./assets/img/clipping-logo.svg" alt="logo" class="logo" />
      <nav>
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link border-bt-after border-r-before" href="#how">How about us</a>
          </li>
          <li>
            <a class="main-nav-link border-bt-after border-r-before" href="#feedback">Feedback</a>
          </li>
          <li>
            <a class="main-nav-link border-bt-after" href="#footer">Contact</a>
          </li>
          <li><a class="main-nav-link btn-s-1" href="">Book a demo</a></li>
          <li><a class="main-nav-link btn-s-2" href="/company">Log in</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-description">
            <h2 class="hero-heading">Team 5</h2>
            <p class="hero-content">We give you an ideal office</p>
          </div>
        </div>
      </section>
      <section class="section-featured">
        <div class="container">
          <div class="logos autoplay">
            <!-- <div><img src="assets/img/logos/techcrunch.png" alt="" />aaaaaaa</div>
            <div><img src="assets/img/logos/techcrunch.png" alt="" />aaaaaaaaa</div>
            <div><img src="assets/img/logos/techcrunch.png" alt="" />aaaaa</div>
            <div><img src="assets/img/logos/techcrunch.png" alt="" />aaaaaaaa</div> -->
            <div><img src="assets/img/logos/techcrunch.png" alt="" />a</div>
            <div><img src="assets/img/logos/business-insider.png" alt="" /></div>
            <div><img src="assets/img/logos/business-insider.png" alt="" /></div>
            <div><img src="assets/img/logos/the-new-york-times.png" alt="" /></div>
            <div><img src="assets/img/logos/forbes.png" alt="" /></div>
            <div><img src="assets/img/logos/usa-today.png" alt="" /></div>
          </div>
        </div>
      </section>
      <section id="how" class="section-how">
        <div class="container">
          <h2 class="heading-secondary">How about us</h2>
          <div class="grid grid--2-cols">
            <div class="how-img-1"></div>
            <div class="how-description">
              <div class="">
                <h2 class="heading-secondary">
                  Simple and professional building service management
                </h2>
                <div class="grid--2-cols grid-gap-44">
                  <div class="description">
                    <ion-icon class="how-icon" name="apps-outline"></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">650+ brands</p>
                      <p class="how-content">
                        Browse millions of products from the
                        <a href="" class="step-link">world’s leading brands.</a>
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon
                      class="how-icon"
                      name="pricetag-outline"
                    ></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Trade pricing</p>
                      <p class="how-content">
                        See trade pricing and lead times right away. No need to
                        request a quote.
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon class="how-icon" name="link-outline"></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Source from anywhere</p>
                      <p class="how-content">
                        Can’t find it on Clippings? Add items from any website
                        with the
                        <a href="" class="step-link">Clip Tool.</a>
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon
                      class="how-icon"
                      name="bookmark-outline"
                    ></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Free samples</p>
                      <p class="how-content">
                        Get free fabric, wood, marble and rug samples.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid--2-cols">
            <div class="how-description">
              <div class="">
                <h2 class="heading-secondary">
                  Meeting the needs of intensive building management
                </h2>
                <div class="grid--2-cols grid-gap-44">
                  <div class="description">
                    <ion-icon class="how-icon" name="apps-outline"></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">650+ brands</p>
                      <p class="how-content">
                        Browse millions of products from the
                        <a href="" class="step-link">world’s leading brands.</a>
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon
                      class="how-icon"
                      name="pricetag-outline"
                    ></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Trade pricing</p>
                      <p class="how-content">
                        See trade pricing and lead times right away. No need to
                        request a quote.
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon class="how-icon" name="link-outline"></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Source from anywhere</p>
                      <p class="how-content">
                        Can’t find it on Clippings? Add items from any website
                        with the
                        <a href="" class="step-link">Clip Tool.</a>
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon
                      class="how-icon"
                      name="bookmark-outline"
                    ></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Free samples</p>
                      <p class="how-content">
                        Get free fabric, wood, marble and rug samples.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="how-img-2"></div>
          </div>
          <div class="grid grid--2-cols">
            <div class="how-img-3"></div>
            <div class="how-description">
              <div class="">
                <h2 class="heading-secondary">
                  Find furniture for every type of project
                </h2>
                <div class="grid--2-cols grid-gap-44">
                  <div class="description">
                    <ion-icon class="how-icon" name="apps-outline"></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">650+ brands</p>
                      <p class="how-content">
                        Browse millions of products from the
                        <a href="" class="step-link">world’s leading brands.</a>
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon
                      class="how-icon"
                      name="pricetag-outline"
                    ></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Trade pricing</p>
                      <p class="how-content">
                        See trade pricing and lead times right away. No need to
                        request a quote.
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon class="how-icon" name="link-outline"></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Source from anywhere</p>
                      <p class="how-content">
                        Can’t find it on Clippings? Add items from any website
                        with the
                        <a href="" class="step-link">Clip Tool.</a>
                      </p>
                    </div>
                  </div>
                  <div class="description">
                    <ion-icon
                      class="how-icon"
                      name="bookmark-outline"
                    ></ion-icon>
                    <div class="step-description">
                      <p class="heading-tertiary">Free samples</p>
                      <p class="how-content">
                        Get free fabric, wood, marble and rug samples.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id='feedback' class="section-feedback">
        <div class="container feedback-heading">
        <h2 class="hero-heading">Testimonial</h2>
        <h3 class="heading-secondary">Your satisfaction affirms our quality</h3> </div>
        <div class="gallery container">
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback1.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback2.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback3.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback4.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback5.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback6.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback7.jpg"
              alt=""
            />
          </figure>
          <figure class="gallery-item">
            <img
              class="gallery-image"
              src="./assets/img/feedback/feedback8.jpg"
              alt=""
            />
          </figure>
        </div>
        <div class="testimonials grid grid--4-cols container">
          <figure class="testimonial">
            <img
              src="assets/img/customers/dave.jpg"
              alt="Photo of custumer"
              class="testimonial-img"
            />
            <blockquote class="testimonial-text">
              Inexpensive, healthy and great-tasting meals, without even
              having to order manually! It feels truly magical.
            </blockquote>
            <p class="testimonial-name">&mdash;Dave Bryson</p>
          </figure>
          <figure class="testimonial">
            <img
              src="assets/img/customers/ben.jpg"
              alt="Photo of custumer"
              class="testimonial-img"
            />
            <blockquote class="testimonial-text">
              The AI algorithm is crazy good, it chooses the right meals for
              me every time. It's amazing not to worry about food anymore!
            </blockquote>
            <p class="testimonial-name">&mdash;Ben Hadley</p>
          </figure>
          <figure class="testimonial">
            <img
              src="assets/img/customers/steve.jpg"
              alt="Photo of custumer"
              class="testimonial-img"
            />
            <blockquote class="testimonial-text">
              Omnifood is a life saver! I just started a company, so there's
              no time for cooking. I couldn't live without my daily meals now!
            </blockquote>
            <p class="testimonial-name">&mdash;Steve Miller</p>
          </figure>
          <figure class="testimonial">
            <img
              src="assets/img/customers/hannah.jpg"
              alt="Photo of custumer"
              class="testimonial-img"
            />
            <blockquote class="testimonial-text">
              I got Omnifood for the whole family, and it frees up so much
              time! Plus, everything is organic and vegan and without plastic.
            </blockquote>
            <p class="testimonial-name">&mdash;Hannah Smith</p>
          </figure>
      </section>
      <section class="section-contact">

      </section>
    </main>
    <footer id="footer" class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img class="logo" alt="" src="./assets/img/clipping-logo.svg" />
          </a>

          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy;<span class="year"></span> by Clippings, Inc. All
            rights reserved.
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contact us</p>
          <address class="contacts">
            <p class="address">
              Học Viện Công Nghệ Bưu Chính Viễn Thông
            </p>
            <p>
              <a class="footer-link" href="tel:0123-456-789">0123-456-789</a
              ><br />
              <a class="footer-link" href="mailto:hello@clippings.com"
                >hello@clippings.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Create account</a></li>
            <li><a class="footer-link" href="#">Sign in</a></li>
            <li><a class="footer-link" href="#">iOS app</a></li>
            <li><a class="footer-link" href="#">Android app</a></li>
          </ul>
        </nav>

        <nav class="nav-col">
          <p class="footer-heading">Company</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">About Clippings</a></li>
            <li><a class="footer-link" href="#">For Business</a></li>
            <li><a class="footer-link" href="#">Office partners</a></li>
            <li><a class="footer-link" href="#">Careers</a></li>
          </ul>
        </nav>

        <nav class="nav-col">
          <p class="footer-heading">Resources</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Architecture directory </a></li>
            <li><a class="footer-link" href="#">Help center</a></li>
            <li><a class="footer-link" href="#">Privacy & terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../static/assets/slick/slick.min.js"></script>
    <script>
    $(".autoplay").slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
    });
    </script>
  </body>
</html>
