<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Company View</title>
	 </head>
	<body>
		<div class="topnav">
		  <a class="active" href="#home">Home</a>
		  <a href="#about">About</a>
		  <a href="#contact">Contact</a>
		  
		</div>
		 <h1>Welcome to</h1>
		 <div class="search-container">
		    <form action="/" method="POST">
		      <input type="text" placeholder="Search.." name="search">
		      <button type="submit"><i class="fa fa-search"></i></button>
		    </form>
		  </div>
		  <div>
		 <h3><a href="/">nhanvien1</a><button> xóa </button></h3>
		  
		 <div>
		 <h3><a href="/">nhaavien2</a><button> xóa </button</h3>
	</body>
</html>