<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>User Management Application</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<link rel="stylesheet" href="../static/assets/css/styles.css" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(53, 49, 47)">
			<div class="brand">
				<p class="navbar-brand">Quản lí toà nhà</p>
			</div>

			<ul class="navbar-nav">
				<li>
            <a href="/company" class="nav-link">Quản lí công ty</a>
          </li>
          <li><a href="/service" class="nav-link">Quản lí dịch vụ</a></li>
          <li>
            <a href="/staffBuilding" class="nav-link">Quản lí nhân viên toà nhà</a>
          </li>
          <li>
            <a href="/statisticcompany" class="nav-link">Thống Kê</a>
          </li>
			</ul>

			<ul class="navbar-nav navbar-collapse justify-content-end">
				<li><a href="index.html" class="nav-link">Đăng xuất</a></li>
			</ul>
		</nav>
	</header>

	<div class="row">
		<!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
		<div class="container">
			<h3 class="text-center">Danh sách nhân viên công ty</h3>
			<hr />
			
			<div class="container text-left">
				 <form th:action="@{'/staff/' + ${idCompany}}" method= "GET">
		          	<input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"  />
					    <button type="submit" th:name="search">search</button>
					</form>
			</div>
			
			<div class="container text-left">
				<form method="POST" th:action="@{/addStaff}">
					<button type="submit" th:name="action">Thêm nhân viên</button>
				</form>
			</div>
			<br />
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>CMT</th>
						<th>Họ và tên</th>
						<th>Ngày sinh</th>
						<th>Số điện thoại</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					<c:forEach var="staff" items="${liststaff}">
						<tr th:each="staff : ${liststaff}">
							<td th:utext="${staff.id}"></td>
							<td th:utext="${staff.name}"></td>
							<td th:utext="${staff.idcard}"></td>
							<td th:utext="${staff.dob}"></td>
							<td th:utext="${staff.phone}"></td>

							<td>
								<div class="d-flex flex-row bd-highlight mb-3">
									<form method="POST" th:action="@{'/editstaff/' + ${staff.id}}">
										<button type="submit" name="submit" class="link-button">EDIT</button>
									</form>
									<form method="GET" th:action="@{'/deletestaff/' + ${staff.id}}">
										<button type="submit" name="submit" class="link-button">DELETE</button>
									</form>
								</div>
							</td>
						</tr>
					</c:forEach>
				</tbody>
			</table>
		</div>
		<div class="container">
			<h3 class="text-center">Danh sách dịch vụ công ty</h3>
			<hr />
			<div class="container text-left">
				<form method="POST" th:action="@{/addServiceUsed}">
					<button type="submit" th:name="action">Đăng ký dịch vụ</button>
				</form>
			</div>
			<br />
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên dịch vụ</th>
						<th>Ngày đăng ký</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
						<tr th:each="serviceused : ${listServiceUsed}">
							<td th:utext="${serviceused.id}"></td>
							<td th:utext="${serviceused.nameservice}"></td>
							<td th:utext="${serviceused.usedday}"></td>

							<td>
								<div class="d-flex flex-row bd-highlight mb-3">
									<form method="GET" th:action="@{'/deleteServiceUsed/' + ${serviceused.id}}">
										<button type="submit" name="submit" class="link-button">DELETE</button>
									</form>
								</div>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>